.dropdown-item:hover {
  background-color: #343a40;
}

.dropdown-menu {
  font-size: 14px;
}

.filter {
  background-color: black;
  color: white;
  border: 1px white solid;
  width: 100px;
  height: 40px;
}

.icon-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
